body {
    width: 900px;
    margin: auto;
}

.header {
    width: 900px;
    margin: auto;
}

.header h1 {
    font-size: 72px;
}

.module {
    margin-top: 40px;   
}

.module.j4img {
    background-image: url(/assets/img/amsterdam.jpg);
    padding-bottom: 10px;
    background-size: cover;
}

.module.j4img h1.title {
    color: #fff;
}

.module .links {
    color: #ccc;
}